@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

html, body
{
    width: 100%;
    height: 100%;
}

header
{
    background-color: rgb(68, 0, 128);
    color: white;
    width: 100%;
}

header > div
{
    display: inline;
}

header > div > h1
{
    margin: 0px 10px;
    font: 50px arial, sans-serif;
    font-weight: bolder;
}

header > section > menu
{
    display: table;
    position: relative;
    margin: 10px auto;
}

header > section > menu > ul
{
    border: 2.5px solid rgba(159, 23, 244, 0.64);
    border-radius: 10px;
    width: 233px;
    padding: 0px 2px 0px 0px;

}

header > section > menu > ul > li
{
    list-style-type: none;
    display: inline-block;
    padding: 0px 3px 0px 3px;
    margin-left: 1px;
}

header > section > menu > ul > li > a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header > section > menu > ul > li > a:hover
{
    color: white;
    text-decoration: none;
}



div > form > div.pesquisa
{
    background-color: rgba(255, 255, 255, 0.696);
    width: 190px;
    display: table;
    text-align: right;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.885);
    border-radius: 10px 0px 0px 10px;
    padding: 2px;
}

div > form > div.pesquisa > label
{
    line-height: 5px;
}

div > form > div.pesquisa > label > img.pequena
{
    width: 13px;
}

div > form > div.pesquisa > input
{
    height: 25px;
    text-indent: 2px;
    font-weight: 200;
    font-size: 13px;
}

main
{
    margin: 25px auto 0px auto;
}

main > article > section#imagemCachorro
{
    background-color: transparent;
    background-image: url('midia/15048-como-tirar-foto-de-cachorro-aproveite-a-articles_media_mobile-2.jpg');
    width: 95%;
    max-width: 750px;
    height: 44vw;
    max-height: 350px;
    background-size: cover;
    background-position: center center;
    margin: auto;
    border-radius: 15px;
    border: 0.4px solid rgba(99, 0, 228, 0.753);
    box-shadow: 0px 1px 5px black inset;
}

main > article > div#comercial
{
    width: 95%;
    max-width: 750px;
    height: 24vw;
    max-height: 150px;
    background-color: lightgray;
    margin: 15px auto;
    border-radius: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

main > article > div#comercial > p
{
    position: relative;
    top: 50px;
    
}

main > article > div#comercial > p > strong
{
    color: #440080;
}