@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

body, html
{
    width: 100%;
    height: 100%;
}

div.rafao
{
    width: 100%;
    height: 1000%;
    background-image: url('midia/8d7a614f-0257-4684-bffb-75aa72fbb0cf.webp');
    background-color: black;
    background-size: 10%;
}