@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152320;
}

div.container
{
    position: relative;
    background: #1d302c;
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container > h1
{
    font: bold 2em 'Century Gothic';
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.722);
}

@keyframes animar1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}

div.container > span:first-of-type
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #ff0);
    animation: animar1 2s linear infinite;
}

@keyframes animar2
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}

div.container > span:nth-of-type(2)
{
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(120deg, transparent, #ff0);
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar3
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

div.container > span:nth-of-type(3)
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #ff0);
    animation: animar3 2s linear infinite;
    animation-delay: 2s;
}

@keyframes animar4
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}

div.container > span:last-of-type
{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #ff0);
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
}